:root {
  /* CORES */

  --primary: #2563EB;
  --primary-hover: #1D4ED8;

  --background: #F8FAFC;
  --card: #FFFFFF;

  --text: #0F172A;
  --text-secondary: #64748B;

  --border: #E2E8F0;

  /* STATUS */

  --success: #16A34A;
  --warning: #F59E0B;
  --danger: #DC2626;

  /* BORDAS */

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
}